.pro{
  h3{
    font-size: 40px;
    color: #fff;
    margin-top: 15px;
  }
}

.contenedor-misProdcutos{
  background-color: #9E9494;
  margin-top: 15px;
  position: fixed !important;
  right: 0;
  height: 100%;
}
