@import './components/Productos/style';
@import './components/nav/nav';
@import  './views/home/home';
@import './components/misProductos/dispensados';

body{
  background-color: red;
}
.contenedor-product{
  background-color: #300C0C;
  margin-top: 15px;
}
